<launch>
  <include
    file="$(find piper_gazebo)/launch/piper_with_gripper/piper_world_rgbd_with_attacher.launch"/>

  <include
    file="$(find piper_gazebo)/launch/piper_with_gripper/piper_gazebo_controller.launch"/>
  <!-- Fixed overhead RGB-D camera TF; MoveIt publishes the robot TF tree. -->
  <node name="hand_camera_base_tf" pkg="tf" type="static_transform_publisher" args="0.25 0 0.55 0 1.5708 0 base_link hand_camera_link 100"/>
  <node name="hand_camera_optical_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.5708 0 -1.5708 hand_camera_link hand_camera_optical_frame 100"/>

</launch>
