<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0620138 0.329759 0.52994" rpy="0.0386076 2.6913 -1.56383" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0620138 0.329759 0.52994   -0.683669 0.694565 -0.14393 0.171639 arm_base camera_color_optical_frame" />
</launch>
