<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0603624 0.324059 0.5386" rpy="0.0649274 2.6985 -1.57843" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0603624 0.324059 0.5386   -0.687062 0.691888 -0.133584 0.177179 arm_base camera_color_optical_frame" />
</launch>
